/*
!.*
*.swp
.ICEauthority
.VirtualBox/
.Xauthority
.abrt/
.adobe/
.bash_history
.bash_logout
.bash_profile
.cache/
.config/
.cvspass
.dbus/
.eclipse/
.elinks/
.esd_auth
.fontconfig/
.gconf/
.gnome2/
.gntpositions
.gnuplot-wxt
.gnuplot_history
.grl-bookmarks
.grl-metadata-store
.grl-podcasts
.gstreamer-0.10/
.gtk-bookmarks
.icedtea/
.imsettings.log
.java/
.kchmviewer/
.kde/
.lesshst
.libreoffice/
.local/
.macromedia/
.mission-control/
.mozilla/
.nbprofiler/
.netbeans/
.nv/
.nvidia-settings-rc
.oh-my-zsh/
.pentadactyl/
.pki/
.pulse-cookie
.pulse/
.purple/
.quicksynergy/
.setroubleshoot
.sqldeveloper/
.squirrel-sql/
.subversion/
.thumbnails/
.vim/
.viminfo
.visualvm/
.vnc/
.wine/
.xscreensaver
.xsession-errors
.zcompdump
.zsh-update
.zsh_history
